<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit project - TaskFlow</title>
    <link rel="stylesheet" href="/css/add-task.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tasks.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <h1 class="logo">TaskFlow</h1>
        </div>

        <nav class="nav">
            <a href="/dashboard" class="nav-link">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
            <a href="/projects" class="nav-link active">
                <i class="fas fa-folder"></i>
                Projects
            </a>
            <a href="/tasks" class="nav-link">
                <i class="fas fa-tasks"></i>
                Tasks
            </a>
            <a href="/activity" class="nav-link">
                <i class="fas fa-chart-line"></i>
                Activity
            </a>
            <a href="/analytics" class="nav-link">
                <i class="fa-solid fa-chart-simple"></i>
                Analytics
            </a>
            <a href="/notifications" class="nav-link">
                <i class="fas fa-bell"></i>
                Notifications
            </a>
            <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="nav-link">
                <i class="fas fa-cog"></i>
                Settings
            </a>
            <div sec:authorize="hasRole('ADMIN')">
                <a href="/users" class="nav-link">
                    <i class="fa-solid fa-user"></i>
                    Users
                </a>
            </div>
            <div sec:authorize="hasAnyRole('ADMIN','MODERATOR')">
                <a href="/notifications/sender" class="nav-link">
                    <i class="fa-solid fa-bullhorn"></i>
                    Alerts
                </a>
            </div>
        </nav>

        <div class="user-profile">
            <img th:if="${base64Image != null}"
                 th:src="'data:image/png;base64,' + ${base64Image}"
                 class="user-avatar"
                 alt="User Avatar">

            <div th:if="${base64Image == null}"
                 th:text="${user.firstName.substring(0,1)} + ${user.lastName.substring(0,1)}"
                 class="user-avatar">MS
            </div>

            <div class="user-info">
                <div th:text="${user.firstName + ' ' + user.lastName}" class="name"></div>
                <div th:text="${user.email}" class="email"></div>
            </div>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </div>
    </aside>

    <main class="main-content">
        <header class="page-header">
            <div class="header-left">
                <h1 class="page-title">
                    <span class="title-accent"></span>
                    <p th:text="'Edit ' + ${editProjectRequest.title} + ' project'"></p>
                </h1>
                <p class="page-subtitle">Edit your project to stay organized and productive</p>
            </div>
        </header>

        <div class="form-container">
            <div class="form-card">
                <form class="add-task-form" th:action="@{'/projects/' + ${projectId} + '/project'}" th:method="PUT"
                      th:object="${editProjectRequest}">
                    <div class="form-row">
                        <div class="form-group full-width">
                            <label for="title" class="form-label">
                                <i class="fas fa-tasks"></i>
                                Project Title
                            </label>
                            <input th:field="*{title}" type="text" id="title" class="form-input"
                                   th:value="${editProjectRequest.title}"
                                   placeholder="Enter task title">
                            <div class="field-hint">3-30 characters</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group full-width">
                            <label for="description" class="form-label">
                                <i class="fas fa-align-left"></i>
                                Description
                            </label>
                            <textarea th:field="*{description}" id="description" class="form-textarea"
                                      th:value="${editProjectRequest.description}">
                                      placeholder="Describe the task details..." rows="4"></textarea>
                            <div class="field-hint">3-300 characters</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="project" class="form-label">
                                <i class="fas fa-folder"></i>
                                Project Status
                            </label>
                            <select th:field="*{projectStatus}" id="project" class="form-select">
                                <option th:if="${editProjectRequest.projectStatus.name() == 'OVERDUE'}" th:value="${T(com.example.TaskManager.project.model.ProjectStatus).valueOf('OVERDUE')}" th:text="'Overdue'"></option>
                                <option th:if="${editProjectRequest.projectStatus.name() == 'COMPLETED'}" th:value="${T(com.example.TaskManager.project.model.ProjectStatus).valueOf('COMPLETED')}" th:text="'Completed'"></option>

                                <option th:each="status : ${T(com.example.TaskManager.project.model.ProjectStatus).values()}"
                                        th:if="${status.name() != 'COMPLETED' && status.name() != 'OVERDUE'}" th:value="${status}"
                                        th:text="${status.getDisplayName()}">Select project...
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="publicity" class="form-label">
                                <i class="fas fa-flag"></i>
                                Publicity
                            </label>
                            <select th:field="*{projectVisibility}" id="publicity" class="form-select" required>
                                <option th:each="visibility : ${T(com.example.TaskManager.project.model.ProjectVisibility).values()}"
                                        th:value="${visibility}" th:text="${visibility.getDisplayName()}">Select
                                    project...
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="dueDate" class="form-label">
                                <i class="fas fa-calendar"></i>
                                Due Date & Time
                            </label>
                            <input th:field="*{dueDate}"
                                   type="datetime-local" id="dueDate" class="form-input"
                                   th:value="${editProjectRequest.dueDate != null ? #temporals.format(editProjectRequest.dueDate, 'yyyy-MM-dd''T''HH:mm')  : ''}">
                        </div>
                        <div class="form-group">
                            <label for="tags" class="form-label">
                                <i class="fas fa-tags"></i>
                                Tags
                            </label>
                            <input type="text" id="tags" name="tags" class="form-input"
                                   th:value="${editProjectRequest.tags}"
                                   placeholder="Enter tags separated by commas (e.g., Design, Frontend, Backend)">
                            <div class="field-hint">Separate multiple tags with commas</div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <a href="/projects">
                            <button type="button" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i>
                                Cancel
                            </button>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>
